<% include header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <a href="/add" class="btn btn-sm btn-success">Add</a><br><br>
      <table class="table table-bordered">
        <tr>
          <th>No</th>
          <th>Judul</th>
          <th>Deskripsi</th>
          <th>Gambar</th>
          <th>Aksi</th>
        </tr>
        <tbody>
          <tr>
            <td>1</td>
            <td>judul</td>
            <td>test</td>
            <td>image</td>
            <td>
              <a href="/edit/:id" class="btn btn-sm btn-primary">Edit</a>
              <a href="/delete/:id" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include footer %>